@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*Container main of app*/
.container {

  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  /* background: #ff0; */
}

.container header{
  width: 100%;
  max-height: 100%;
  height: 350px; 
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
  position: absolute;

}


.container .imgLogo{
  width: 100%;
  max-width: 610px;
  height: 250px;
  position: absolute;
  margin-top: 70px;
 
}

.container header .imgMembros img {
  width: 100%;
  max-width: 390px;
  max-height: 250px;
  margin-top: 152px;
  margin-right: 14vh;
  border-radius: 8px;
    
}

/* content main of app*/
.content {
  width: 100%;
  max-width: 1120px;
  height: 100em; 
  margin: 0 auto;
  display: flex;
  background: #ffb350;
  border-radius: 8.5px 8.5px 0px 0;
  border: solid 5px #fff;
  margin-top: 200px;

}

/*Header Green*/
.container .content section {
  width: 100%;
  height: 252px;
  background: #abce42;
  border: 2.5px solid #8ca835;
  box-shadow: inset 0 0 2em #8ca835;
  border-radius: 8.2px 8.2px 4px 4px;
  align-items: center;
  justify-content: center;
    
}

.container .content section .search {
  text-align: center; 
  font-size: 22px;
  position: relative;
  
}

.container .content section .search h3 {
  /* text-shadow: -1px 0 #000 0 1px #000, 1px 0 #000, 0 -1px #000; */
  font-family: Passion One, sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  -webkit-text-stroke-width: 2.0px; /*Adiciona bordas no text*/
  -webkit-text-stroke-color: rgba(37, 37, 37, 0.671); 
  font-size: 35px;  
}

.container .content section .search input {
  width: 150px;  
  border: 2px solid #8ca835;
  box-shadow: 0 0 1em #8ca835;
  height: 28px;
  margin-left: 25px;

 }

 .container .content section .search .btnSearch {
    width: 35px;
    background: transparent;
    border: 1.5px solid rgba(238, 236, 236, 0.877);
    margin-left: 10px;
    border-radius: 4px;
 }

 .container .content section button:hover {
    box-shadow: 0 0 2em #8ca835;
    opacity: 0.5;
 }

 .container .content section .search .phraseToDay {
    color: red;
    text-align: start;
    margin-top: 80px;
    position: absolute;
    margin-left: 30px;
    font-family: Geneva, Verdana, sans-serif;
    font-weight: 600;
    
 }

 .container .content section .search .todayIs {
    color:#fff;
    text-align: start;
    margin-top: 50px;
    margin-left: 20px;
    position: absolute;
 }

 
.content section .bntHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1095px;
  height: 60px;
  margin-top: 4.0%;
  margin-left: 0.5%;
  align-items: center;
  align-self: center;
  justify-content: center;

  border: 2.8px solid #cb9fd2;
  box-shadow: 0 0 1em #d28ce2;
  background: rgb(112, 26, 94);
  background-image: linear-gradient(to bottom, rgba(255,255,255,.1), 
  rgba(255,255,255,.4) 35%, rgba(255,255,255,0) 43%, rgba(255,255,255,.4));
  transition: all .5s;
} 

.content section .bntHeader button {
  width: 100%;
  max-width: 110px;  
  height: 100%;
  max-height: 47px;
  
  border: 1.5px solid #cb9fd2 ;
  background-color: #601b71;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 18px;
  
  background-image: linear-gradient(to bottom, rgba(255,255,255,.1), 
  rgba(255,255,255,.4) 35%, rgba(255,255,255,0) 43%, rgba(255,255,255,.4));
  transition: all .5s;
}


.content section .bntHeader button + button{
  margin-left: 10px;
}

.content section .bntHeader button.iNeed {

  
} 

.content section .bntHeader button.iSendStuff {
  justify-content: space-between;
}



/* Player */
.content .section-player {
  /* margin:; */
}

.content .section-player .player {
  width: 650px;
  height: 500px;

  /* border: 2px solid #000;
  border-radius: 12px;

  background-color: #f7fd51; */

  margin: 12vh 5vh;
}

.content .section-player .player img {
  /* position: relative; */
}

.btnSendThisVideo{
  width: 500px;
  height: 45px;
  background: #e71837;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin-top: 0;
  margin-left: 11%;
  margin-bottom: 10%;
  border-radius: 8px;
  border: 1px solid #888;
}